<style>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: skyblue;
  }
  main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    height: 50%;
    width: 50%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
  }
  .card img {
    margin-top: 20px;
    height: 50%;
    width: 40%;
    border-radius: 50%;
    object-fit: cover;
  }
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="cards">
        <% let arr = ['simbiyan', 'Asmith', 'rench']; %>
        <% users.forEach((username) => { %>
          <div class="card">
            <img src="<%= username.image %>" alt="<%= username.username %>" />
            <h1><%= username.username %></h1>
          </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
